.container {
    width: 100%; /*para que ocupe siempre el 100% de la pantalla pero como máximo sea 1200px*/
    max-width: 1200px;
    margin: 0 auto; /*para centarlo, arriba y abajo sin márgenes (0) y en los laterales centrado (auto)*/
}

:root {/*con esto indico q voy a usar la variable en todo el doc, tb podría poner body*/
    --grid-number: 12; /*es necesario poner doble guion antes del nombre de la variable para que lo reconozca como tal.esta variable podría sustituirla en todos los números 12*/
}/*no uso esta variable porque no la soporta Edge*/

.row:before, /*es otro estilo de clearfix, siempre que hay float, hay que ponerle altura*/
.row:after {
    content: "";
    display: table;
    clear: both;
}

.col-1 {
    width: calc(100% /12); /*para calcular: si el 100% son 12 columnas, cuanto es 1 columna*/
    float: left; /*las posicionamos*/
}

.col-2 {
    width: calc(calc(100% /12)*2);/*Edge no está soportando calc*/
    float: left;
}

.col-3 {
    width: calc(calc(100% /12)*3);
    float: left;
}

.col-4 {
    width: calc(calc(100% /12)*4);
    float: left;
}

.col-5 {
    width: calc(calc(100% /12)*5);
    float: left;
}

.col-6 {
    width: calc(100% /2);;
    float: left;
}

.col-7 {
    width: calc(calc(100% /12)*7);
    float: left;
}

.col-8 {
    width: calc(calc(100% /12)*8);
    float: left;
}

.col-9 {
    width: calc(calc(100% /12)*9);
    float: left;
}

.col-10 {
    width: calc(calc(100% /12)*10);
    float: left;
}

.col-11 {
    width: calc(calc(100% /12)*11);
    float: left;
}

.col-12 {
    width: 100%;
    float: left;
}

.row-flex {
    display: flex;
    flex-flow: row wrap;
}

.transport-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.transport-info {
    align-self: flex-end;
}
